.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include lg {
    flex-wrap: wrap;
  }
}

.about__title {
  margin-bottom: 3rem;
}

.about__social {
  flex: 0 0 40%;
  margin-right: 2rem;
  @include lg {
    flex: 0 0 100%;
  }
}

.about__content {
  flex: 0 0 60%;
  @include lg {
    flex: 0 0 100%;
  }
}

.about__link {
  display: inline-block;
  background-color: var(--purple-color);
  color: inherit;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.4s;
  margin-top: 2rem;
  margin-bottom: 2rem;
  outline: none;
  &:hover {
    background-color: var(--purple-color-alt);
    color: var(--secondary-color);
  }
  &:focus {
    background-color: var(--purple-color-alt);
    color: var(--secondary-color);
  }
}

.about__text {
  line-height: 1.5;
}
