.footer {
  padding: 5rem;
  background-color: var(--purple-color-alt);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  @include md {
    flex-wrap: wrap;
  }
}

.logo-footer__img {
  width: 105px;
  height: 30px;
  margin-bottom: 2rem;
}

.footer__info {
  flex: 0 0 60%;
  @include md {
    flex: 0 0 100%;
  }
}

.footer__social {
  flex: 0 0 40%;
  @include md {
    flex: 0 0 100%;
  }
}

.footer__text {
  text-align: center;
  color: var(--yellow-color);
}
