@import 'mixins';

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;

  @include sm {
    align-items: flex-start;
  }
}

.menu__button {
  @include sm {
    background-color: transparent;
    margin-left: 15px;
  }
}

.menu__button--open .menu__icon-cross,
.menu__icon,
.menu__icon-menu {
  @include sm {
    display: block;
  }
}
.menu__button--open .menu__icon-menu,
.menu__icon-cross {
  @include sm {
    display: none;
  }
}

.header__menu {
  @include sm {
    width: 100%;
  }
}

.menu__list {
  @include sm {
    display: none;
    margin-top: 50px;
    gap: 20px;
  }
}
.menu__list--open {
  @include sm {
    display: grid;
    text-align: center;
  }
}

.menu__link {
  color: var(--secondary-color);
  margin-right: 30px;
  line-height: 1.5;
  transition: color 0.3s;
  @include sm {
    display: block;
    font-size: 30px;
    margin-right: 0;
  }
  &:hover {
    color: #b4009e;
  }
}

@media (min-width: 577px) {
  .menu__button {
    display: none;
  }
}

@media (min-width: 577px) {
  .menu__list {
    display: grid;
    grid-auto-flow: column;
  }
}
