@import 'mixins';

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.125rem 0;

  @include sm {
    align-items: flex-start;
  }
}

.menu__button {
  @include sm {
    background-color: transparent;
    margin-left: 0.938rem;
  }
}

.menu__button--open .menu__icon-cross,
.menu__icon,
.menu__icon-menu {
  @include sm {
    display: block;
  }
}
.menu__button--open .menu__icon-menu,
.menu__icon-cross {
  @include sm {
    display: none;
  }
}

.header__menu {
  @include sm {
    width: 100%;
  }
}

.menu__list {
  @include sm {
    display: none;
    margin-top: 3.125rem;
    gap: 1.25rem;
  }
}
.menu__list--open {
  @include sm {
    display: grid;
    text-align: center;
  }
}

.menu__link {
  position: relative;
  color: var(--secondary-color);
  margin-right: 1.875rem;
  line-height: 1.5;
  transition: color 0.3s;
  @include f500;
  @include sm {
    display: block;
    font-size: var(----normal-font-size);
    margin-right: 0;
  }
  &:hover {
    color: var(--purple-color);
    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0.1rem;
      content: '';
      background: var(--purple-color);
    }
  }
}

@media (min-width: 577px) {
  .menu__button {
    display: none;
  }
}

@media (min-width: 577px) {
  .menu__list {
    display: grid;
    grid-auto-flow: column;
  }
}
