.home__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.home__title {
  @include f600;
  font-size: var(--h1-font-size);
  @include sm {
    margin: 0;
  }
}

.home__title-color {
  color: var(--purple-color);
}

.home__link {
  margin-bottom: 1rem;
  @include f500;
}

.home__img {
  width: 37.5rem;
}

.home__blob {
  fill: var(--purple-color);
}

.home__link {
  display: block;
  background-color: var(--purple-color);
  color: var(--primary-color);
  border-radius: 0.625rem;
  width: 15rem;
  padding: 1rem 0;
  text-align: center;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--purple-color-alt);
  }
}
