@mixin f400 {
  font-weight: 400;
  font-family: Poppins, sans-serif;
}

@mixin f500 {
  font-weight: 500;
  font-family: Poppins, sans-serif;
}

@mixin f600 {
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

@mixin sm {
  @media screen and (max-width: 36em) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 48em) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: 62em) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: 75em) {
    @content;
  }
}

@mixin xxl {
  @media screen and (max-width: 90em) {
    @content;
  }
}
