body {
  @include f400;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

[class*='__container'] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 0.938rem;
}

.section {
  margin-bottom: 3.125rem;
}

.title {
  display: inline-block;
  border-bottom: 3px solid var(--secondary-color);
  font-size: var(--h2-font-size);
  @include f600;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

.icon {
  width: 1.875rem;
  cursor: pointer;
}

.decor {
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.social {
  width: 3.125rem;
}

.social__icon {
  fill: var(--secondary-color);
  transition: fill 0.3s;
  &:hover {
    fill: var(--purple-color);
  }
}

.btn-up {
  position: fixed;
  right: 1rem;
  bottom: 15rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 12px #845bb3;
  display: inline-flex;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: bottom 0.3s transform 0.3s;
  &:hover {
    transform: translateY(-0.25rem);
  }
}

.btn-up_hide {
  display: none;
}
