body {
  @include f400;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

[class*='__container'] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 0.938rem;
}

.section {
  margin-bottom: 3.125rem;
}

.title {
  display: inline-block;
  border-bottom: 3px solid var(--secondary-color);
  font-size: 2rem;
  @include f600;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  width: 3.125rem;
}

.icon {
  width: 1.875rem;
  cursor: pointer;
}

.icon-sun {
  display: none;
}
