.works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label-works__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.5rem;
}

.label-works__item {
  margin-right: 1.25rem;
  opacity: 0.7;
  background-color: var(--primary-color);
}

.label-works__btn {
  background-color: var(--primary-color);
  padding: 0.75rem 1.25rem;
  background: transparent;
  color: var(--primary-color);
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: var(--purple-color);
  }
  @include sm {
    min-width: 300px;
  }
}

.label-works__item.active {
  background-color: var(--purple-color);
  opacity: 1;
}

.works__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }

  @include sm {
    grid-template-columns: repeat(1, auto);
    text-align: center;
  }
}

.content-works__item a {
  outline: none;

  &:focus {
    filter: brightness(0.7);
  }
  &:hover {
    filter: brightness(0.7);
  }
}

.content-works__img {
  border-radius: 1rem;
  width: 300px;
}

.content-works__item.hide {
  display: none;
}
